<a href="https://colab.research.google.com/github/Ndu3000/test-repo/blob/master/predict_template_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Introduction

## Context

Sendy, in partnership with insight2impact facility, is hosting a Zindi challenge to predict the estimated time of delivery of orders, from the point of driver pickup to the point of arrival at final destination.

The solution will help Sendy enhance customer communication and improve the reliability of its service; which will ultimately improve customer experience. In addition, the solution will enable Sendy to realise cost savings, and ultimately reduce the cost of doing business, through improved resource management and planning for order scheduling.

Sendy helps men and women behind every type of business to trade easily, deliver more competitively, and build extraordinary businesses.

## Problem Statement

Data is a critical component in helping Sendy to build more efficient, affordable and accessible solutions. Given the details of a Sendy order, can we use historic data to predict an accurate time for the arrival of the rider at the destination of a package? In this competition, we’re challenging you to build a model that predicts an accurate delivery time, from picking up a package to arriving at the final destination. An accurate arrival time prediction will help all businesses to improve their logistics and communicate an accurate time to their customers.

# Data Exploration

In [0]:
# import packages
import pandas as pd
import numpy as np

In [39]:
data_dict = pd.read_csv('/content/drive/My Drive/Machine Learning A-Z (Codes and Datasets)/EDSA/VariableDefinitions.csv')
data_dict

                                     Order No                Unique number identifying the order
0                                     User Id  Unique number identifying the customer on a pl...
1                                Vehicle Type  For this competition limited to bikes, however...
2                               Platform Type  Platform used to place the order, there are 4 ...
3                        Personal or Business                                      Customer type
4                    Placement - Day of Month                  Placement - Day of Month i.e 1-31
5                Placement - Weekday (Mo = 1)                   Placement - Weekday (Monday = 1)
6                            Placement - Time  Placement - Time - Time of day the order was p...
7                 Confirmation - Day of Month               Confirmation - Day of Month i.e 1-31
8             Confirmation - Weekday (Mo = 1)                Confirmation - Weekday (Monday = 1)
9                         Confirmation - Time  Confirmation - Time - Time of day the order wa...
10           Arrival at Pickup - Day of Month          Arrival at Pickup - Day of Month i.e 1-31
11       Arrival at Pickup - Weekday (Mo = 1)           Arrival at Pickup - Weekday (Monday = 1)
12                   Arrival at Pickup - Time  Time of day the the rider arrived at the locat...
13                      Pickup - Day of Month                     Pickup - Day of Month i.e 1-31
14                  Pickup - Weekday (Mo = 1)                      Pickup - Weekday (Monday = 1)
15                              Pickup - Time  Pickup - Time - Time of day the the rider pick...
16      Arrival at Destination - Day of Month        Arrival at Delivery - Day of Month i.e 1-31
17  Arrival at Destination - Weekday (Mo = 1)         Arrival at Delivery - Weekday (Monday = 1)
18              Arrival at Destination - Time  Arrival at Delivery Time - Time of day the rid...
19                              Distance (KM)            The distance from Pickup to Destination
20                                Temperature  Temperature at the time of order placement in ...
21               Precipitation in millimeters   Precipitation at the time of order placement ...
22                                 Pickup Lat                       Latitude of pick up location
23                                Pickup Long                      Longitude of pick up location
24                            Destination Lat                      Latitude of delivery location
25                           Destination Long                     Longitude of delivery location
26                                   Rider Id             ID of the Rider who accepted the order
27                Time from Pickup to Arrival  Time in seconds between 'Pickup' and 'Arrival ...
28                                        NaN                                                NaN
29                              Rider Metrics                                                NaN
30                                   Rider Id  Unique number identifying the rider (same as i...
31                               No_Of_Orders           Number of Orders the rider has delivered
32                                        Age  Number of days since the rider delivered the f...
33                             Average_Rating                        Average rating of the rider
34                              No_of_Ratings   Number of ratings the rider has received. Rat...

In [28]:
# Import data
data_riders = pd.read_csv('/content/drive/My Drive/Machine Learning A-Z (Codes and Datasets)/EDSA/Riders.csv')
data_riders.sample(5)

         Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
200  Rider_Id_656          3015  1368            14.3            527
197  Rider_Id_956          4847   901            14.1            902
647  Rider_Id_853          3640  1893            13.5           1236
926  Rider_Id_429           123   130            14.8             24
649  Rider_Id_300           574   463            12.3             41

In [27]:
# Import data
data_riders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rider Id        960 non-null    object
 1   No_Of_Orders    960 non-null    int64
 2   Age             960 non-null    int64
 3   Average_Rating  960 non-null    float64
 4   No_of_Ratings   960 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 37.6+ KB

In [34]:
data_riders.shape

(960, 5)

In [14]:
data_train = pd.read_csv('/content/drive/My Drive/Machine Learning A-Z (Codes and Datasets)/EDSA/Train.csv')
data_train.sample(5)

             Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
8106     Order_No_324  User_Id_3283  ...  Rider_Id_175                         2120
12728   Order_No_2345  User_Id_1304  ...  Rider_Id_107                         1340
2316    Order_No_6847  User_Id_2989  ...   Rider_Id_46                         2351
1472   Order_No_14046  User_Id_3647  ...  Rider_Id_937                          599
17100  Order_No_18135  User_Id_1642  ...  Rider_Id_910                          808

[5 rows x 29 columns]

In [29]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

In [35]:
data_train.shape

(21201, 29)

In [31]:
data_test = pd.read_csv('/content/drive/My Drive/Machine Learning A-Z (Codes and Datasets)/EDSA/Test.csv')
data_test.sample(5)

            Order No       User Id  ... Destination Long      Rider Id
6922   Order_No_7181  User_Id_2789  ...        36.813014  Rider_Id_722
3033   Order_No_8125  User_Id_3517  ...        36.828195  Rider_Id_752
5227  Order_No_22026  User_Id_3475  ...        36.781000   Rider_Id_51
4439  Order_No_17714  User_Id_1007  ...        36.818982  Rider_Id_688
4722  Order_No_14957  User_Id_3517  ...        36.769945  Rider_Id_472

[5 rows x 25 columns]

In [32]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7068 entries, 0 to 7067
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Order No                              7068 non-null   object
 1   User Id                               7068 non-null   object
 2   Vehicle Type                          7068 non-null   object
 3   Platform Type                         7068 non-null   int64
 4   Personal or Business                  7068 non-null   object
 5   Placement - Day of Month              7068 non-null   int64
 6   Placement - Weekday (Mo = 1)          7068 non-null   int64
 7   Placement - Time                      7068 non-null   object
 8   Confirmation - Day of Month           7068 non-null   int64
 9   Confirmation - Weekday (Mo = 1)       7068 non-null   int64
 10  Confirmation - Time                   7068 non-null   object
 11  Arrival at Pickup - Day of Month      7068 non-null   int64
 12  Arrival at Pickup - Weekday (Mo = 1)  7068 non-null   int64
 13  Arrival at Pickup - Time              7068 non-null   object
 14  Pickup - Day of Month                 7068 non-null   int64
 15  Pickup - Weekday (Mo = 1)             7068 non-null   int64
 16  Pickup - Time                         7068 non-null   object
 17  Distance (KM)                         7068 non-null   int64
 18  Temperature                           5631 non-null   float64
 19  Precipitation in millimeters          199 non-null    float64
 20  Pickup Lat                            7068 non-null   float64
 21  Pickup Long                           7068 non-null   float64
 22  Destination Lat                       7068 non-null   float64
 23  Destination Long                      7068 non-null   float64
 24  Rider Id                              7068 non-null   object
dtypes: float64(6), int64(10), object(9)
memory usage: 1.3+ MB

In [40]:
data_test.shape

(7068, 25)

## Data Structures

In [0]:
# Investigate and correctly format data structures

## Missing Values

In [0]:
# investigate missing values and treat them accordingly

# Benchmark Model

In [0]:
# minimal data preprocessing (just enough to build base model)

In [0]:
# fit model and cross validate perfomance

# Exploratory Data Analysis

## Univariate Analysis

In [0]:
# plot histograms for numeric features - lookout for outliers and leverage points

In [0]:
# plot histograms for categorical features - Lookout for too many levels that can be grouped together

In [0]:
# Further analysis of missing values (if required)

## Multivariate Analysis

In [0]:
# analyse relationships between features (correlation and factor analysis)

In [0]:
# check for collinearity and multi-collinearity

In [0]:
# analyses relationship between features and target

# Feature Engineering

In [0]:
# investigate non linearity

In [0]:
# investigate feature interactions and synergy

In [0]:
# other transformations (data mining)

# Feature Selection

In [0]:
# L1 and L2 Regularisation

In [0]:
# forward selection, backward selection and/or mixed selection

In [0]:
# genetic algorithms (borita)

In [0]:
# Random forests and feature importance

# Model Selection

In [0]:
# fit multiple models and do hyper-parameter tuning

In [0]:
# cross validate model perfomance

In [0]:
# select the best model and implement it as final solution

# Summary of Conclusions

In [0]:
# summarise findings and make recommendations